@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,500,700,700i');

.profilepic {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
}
  